body {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  height: 100vh;           /* Ensures the container has a height to center within */
  background-color: black;
}

.title {
    color: white;
}

